doctype html
html
  head
    title Detail 2 - Radius by TEMPLATED
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/assets/css/main.css')
  body
    // Header
    header#header.preview
      .inner
        .content
          h1 Radius
          h2 A fully responsive masonry style portfolio template.
        a.button.hidden(href='index.html')
          span Let's Go
    // Main
    #preview.vertical
      .inner
        .image.fit
          img(src='images/pic04.jpg', alt='')
        .content
          header
            h2 Aliquam gravida felis vel velit accumsan
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec est ligula, ultrices id posuere vitae, rutrum in tellus. Suspendisse vitae aliquam metus. Cras blandit, tortor ut eleifend porttitor, urna lacus porttitor arcu, quis vestibulum metus dolor ut neque. Aenean et nisi venenatis, mollis enim eget, pharetra nunc. Sed blandit non mi nec ultrices. Vestibulum hendrerit tortor id gravida eleifend. Morbi vitae molestie odio. Etiam nec est vel sapien posuere vulputate eget eget mi. Quisque vulputate ligula velit, id accumsan dui fringilla nec. Morbi nisi mauris, placerat sit amet feugiat nec, vehicula ut ex.
          p
            | Proin faucibus laoreet quam. Maecenas et ullamcorper lectus. Ut nunc velit, varius auctor semper vitae, fermentum ac ligula. Curabitur at dolor sapien. Sed nec libero at leo feugiat pharetra vitae vel felis. Pellentesque eget erat id mauris volutpat blandit. Suspendisse vulputate massa turpis, eu ultrices massa malesuada at. Sed sit amet faucibus sem. Nulla lectus arcu, tincidunt a dapibus vitae, ultrices et sem. Sed eget sodales odio, in hendrerit dui. Nulla erat nibh, fermentum quis enim ac, ultrices euismod augue. Proin ligula nibh, pretium at enim eget, tempor feugiat nulla. Cras at auctor sapien. Praesent blandit, odio vel sodales egestas, nisl nibh aliquam est, quis aliquam enim nibh vitae tellus.
      a.nav.previous(href='/detail1')
        span.fa.fa-chevron-left
      a.nav.next(href='/detail2')
        span.fa.fa-chevron-right
    // Footer
    footer#footer
      a.info.fa.fa-info-circle(href='#')
        span About
      .inner
        .content
          h3 Vestibulum hendrerit tortor id gravida
          p
            | In tempor porttitor nisl non elementum. Nulla ipsum ipsum, feugiat vitae vehicula vitae, imperdiet sed risus. Fusce sed dictum neque, id auctor felis. Praesent luctus sagittis viverra. Nulla erat nibh, fermentum quis enim ac, ultrices euismod augue. Proin ligula nibh, pretium at enim eget, tempor feugiat nulla.
        .copyright
          h3 Follow me
          ul.icons
            li
              a.icon.fa-twitter(href='#')
                span.label Twitter
            li
              a.icon.fa-facebook(href='#')
                span.label Facebook
            li
              a.icon.fa-instagram(href='#')
                span.label Instagram
            li
              a.icon.fa-dribbble(href='#')
                span.label Dribbble
          | 						© Untitled. Design:
          a(href='https://templated.co') TEMPLATED
          | . Images:
          a(href='https://unsplash.com/') Unsplash
          | .
    // Scripts
    script(src='/assets/js/jquery.min.js')
    script(src='/assets/js/skel.min.js')
    script(src='/assets/js/util.js')
    script(src='/assets/js/main.js')
